<section>
    <h3>Badges</h3>
    <div id="badges">
        <img src="assets/images/juvejersey/badge1.jpg" alt="">
        <img src="assets/images/juvejersey/badge2.png" alt="">
        <img src="assets/images/juvejersey/badge3.jpg" alt="">
    </div>
    <div id="badgesSelector">
        <input (click)="selectBadge($event)" type="checkbox" />
        <input (click)="selectBadge($event)" type="checkbox" />
        <input (click)="selectBadge($event)" type="checkbox" />
    </div>
</section>
<section>
    <h3>Quantity</h3>
    <select (change)="selectQty($event)">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
</section>
<section>
    <h3>Total price: <span>{{ total }} EUR</span></h3>
</section>
