<section>
    <h3>Flocking</h3>
    <span class="flock" 
        [ngClass]="{'selected': !isFlockSelected}"
        (click)="selectFlock(false)"
        >No flock</span>
    <span class="flock" 
        [ngClass]="{'selected': isFlockSelected}"
        (click)="selectFlock(true)"
        >Players</span>

    <div *ngIf="isFlockSelected">
        <select (change)="selectPlayer($event)">
            <option value="-1">Select a player</option>
            <option *ngFor="let player of players">{{ player }}</option>
        </select>
    </div>
</section>
