<h1>TP juvejersey</h1>
<div id="app">
    <app-gallery 
        [selectedIndex]="galleryImageIndex"
        [playerName]="player.name"
        [playerNum]="player.num"
        ></app-gallery>
    <div id="settingArea">
        <h2>Juventus Home Authentic Jersey 2020/21</h2>
        <app-flock (onFlock)="onFlock($event)"></app-flock>
        <app-total [flock]="player.name.length > 0"></app-total>
    </div>
</div>
