<div>
    <h2>Article Order Component</h2>
    <p>Total de la commande: <span>{{ total }} EUR</span></p>
    <section *ngIf="total > 5000">
        <input type="text" placeholder="coupon" />
        <button>Appliquer</button>
    </section>
</div>

