a.toggler {
    background: green;
    cursor: pointer;
    border: 6px solid black;
    border-right-width: 45px;
    padding: 0 15px;
    border-radius: 15px;
    text-decoration: none;
    transition: all .5s ease;
}

a.toggler.off {
    background: red;
    border-right-width: 6px;
    border-left-width: 45px;
}