<h1>Routing App</h1>

<nav>
  <ul>
    <li>
      <a href="http://google.com">google</a>
    </li>
    <li>
      <a routerLink="/first">First Component</a>
    </li>
    <li>
      <a routerLink="/second">Second Component</a>
    </li>
    <li>
      <a routerLink="/user/1">User 1</a>
    </li>
    <li>
      <a routerLink="/user/2">User 2</a>
    </li>
  </ul>
</nav>

<!-- Composant permettant de charger
dynamiquement les composants enfants liée
au routage -->
<router-outlet></router-outlet>