<p>main works!</p>

<!-- formulaire d'ajout de fruit -->
<div>
    <input (keyup)="onKeyup($event)" type="text" placeholder="Nom du joueur" />
    <button (click)="save()">Enregistrer</button>
</div>

<p *ngFor="let player of players">
    {{ player.id }} {{ player.firstname }} {{ player.lastname }} {{ player.teamid }} {{ player.position }} {{ player.age }} 
</p>
