<select *ngIf="key === 'position'" (change)="change($event)">
    <option value="">Filtrer par poste</option>
    <option [value]="option" *ngFor="let option of options">{{option}}</option>
</select>

<select *ngIf="key === 'teamid'" (change)="change($event)">
    <option value="">Filtrer par équipe</option>
    <option [value]="option.id" *ngFor="let option of options">{{option.name}}</option>
</select>

