<div class="m-4">
    <input
        [(ngModel)]="credentials.email"
        type="text" placeholder="Email" />
    <br>
    <input
        [(ngModel)]="credentials.password"
        type="password" placeholder="Password">
    <br>
    <select [(ngModel)]="status">
        <option value="admin">Administrateur</option>
        <option value="anonymous">Anonyme</option>
    </select>
    <br>
    <button
        (click)="login()" 
        class="btn btn-primary btn-sm mt-2">Login</button>

    <div *ngIf="token">Token reçu</div>
</div>
<pre>
    Email: {{ credentials.email }}
    Password: {{ credentials.password }}
    Status: {{ status }}
</pre>

<div class="m-4" *ngIf="token">
    <button
        class="btn btn-sm btn-secondary"
        (click)="getUsers()">Get users</button>
</div>
